.desktop-background {
  width: 100vw;
  height: calc(100vh - 40px);
  background: linear-gradient(to bottom, #245edb 0%, #3483eb 5%, #4293eb 14%, #52a2ec 21%, #5caef8 28%, #64b5f6 40%, #5cadf4 55%, #4c9de8 75%, #3885dd 90%, #2b71c9 100%);
  position: relative;
  overflow: hidden;
}

.desktop {
  width: 100vw;
  height: 100vh;
  position: relative;
}
